{% extends 'base2.html' %}

{% block content %}
<div class="container">
    <br><br><br>
    <h1 style="text-align: center;">{{ quiz.title }}</h1>
    <h3 style="text-align: right;">Time remaining: <span id="timer"></span></h3>
    <form id="quizForm" method="post">
        {% csrf_token %}
        {% for field in form %}
            <label style="font-weight: bold; font-size: 16px;">{{ field.label_tag }}</label><br>
            {{ field }}
        {% endfor %}
        <button type="submit" style="background-color: blue; font-size: 16px;">Submit</button>
    </form>
</div>
<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        var endInterval = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                clearInterval(endInterval);
                document.getElementById("quizForm").submit();
            }
        }, 1000);
    }

    window.onload = function () {
        var time = {{ total_time_seconds }};
        var display = document.querySelector('#timer');
        startTimer(time, display);
    };
</script>
{% endblock %}
