{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center;">{{ quiz.title }}</h1>
        <h3 style="text-align: right;">Time remaining: <span id="timer">00:10:00</span></h3>
        <form id="quizForm" method="post">
            {% csrf_token %}
            {% for question in questions %}
                <div>
                    <br>
                    <p><strong>{{ question.text }}</strong></p>
                    <input type="radio" name="{{ question.id }}"
                           value="{{ question.option1 }}"> {{ question.option1 }}<br>
                    <input type="radio" name="{{ question.id }}"
                           value="{{ question.option2 }}"> {{ question.option2 }}<br>
                    <input type="radio" name="{{ question.id }}"
                           value="{{ question.option3 }}"> {{ question.option3 }}<br>
                    <input type="radio" name="{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

    </div>
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var endInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(endInterval);
                    document.getElementById("quizForm").submit();
                }
            }, 1000);
        }

        window.onload = function () {
            var time = 10 * 60, // your countdown time in seconds (e.g., 10 minutes)
                display = document.querySelector('#timer');
            startTimer(time, display);
        };
    </script>
{% endblock %}